<!DOCTYPE html>
<html>
<head>
    <title>password change</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h1>Change psw</h1>

<form action='/users/' method='post'>
    <p>
        <input type='text' name='username' placeholder='Username' />
    </p>
    <p>
        <input type='password' name='oldPassword' placeholder='Password' />
    </p>
    <p>
        <input type='password' name='newPassword' placeholder='Password' />
    </p>
    <p>
        <input type='submit' value='Login'/>
    </p>
</form>
</body>
</html>