<html>

<head>
    <title>Article</title>

    <style type="text/css">
        h1 {
            font: 34px/1.6 'Tahoma', arial, tahoma, \5b8b\4f53, sans-serif;
        }

        p {
            font: 16px/1.6 'Microsoft Yahei', arial, tahoma, \5b8b\4f53, sans-serif;
        }
    </style>
</head>

<body>
    <div class="container">
        
            <h1>
                <%= article.title %>
            </h1>
            <p><%= article.content %></p>
            
        
    </div>

</body>

</html>